.custom-container {
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
  .card {
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
  }
  
  .card-title {
    color: #d46220; /* Define a cor do texto */
    font-weight: bold;
  }
  
  .btn {
    background-color: #d46220; /* Define a cor de fundo do botão */
    color:#fff;
    font-weight: bold; /* Adiciona negrito ao texto do botão */
    border-color: #d46220;
  }
  